/* 토론 디자인 */
.opennamu_comment {
	max-width: 100%;
    min-width: 400px;
	width: auto;
	word-wrap: break-word;
	position: relative;
}

.opennamu_comment_color_default, .opennamu_comment_color_green, .opennamu_comment_color_gray, .opennamu_comment_color_blue, .opennamu_comment_color_red {
	width: 100%;
	padding: 7px 10px;
    border-radius: 6px 6px 0px 0px;
	border: 1px solid #888;
	border-bottom: none;
	display: inline-block;
}

.opennamu_comment_color_gray {
	border: 1px solid #888;
}

.opennamu_comment_blind_not {
	width: 100%;
	padding: 13px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid #888;
	border-top: none;
	display: inline-block;
	background: #f4f4f4;
	max-height: 500px;
	overflow-y: auto;
}

.opennamu_comment_scroll {
    max-height: none;
    overflow: scroll;
}

.opennamu_comment_blind {
	width: 100%;
	padding: 13px;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid #888;
	border-top: none;
	background: #6b6b6b;
	color: #fff;
}

@media screen and (max-width: 700px) {
	.opennamu_comment {
		min-width: 100%;
		width: 100%;
	}
}

/* 폰트 불러오기 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: block;
	src: local('Pretendard Black'), url('/views/liberty/fonts/woff2/Pretendard-Black.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: block;
	src: local('Pretendard ExtraBold'), url('/views/liberty/fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: block;
	src: local('Pretendard Bold'), url('/views/liberty/fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: block;
	src: local('Pretendard SemiBold'), url('/views/liberty/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: block;
	src: local('Pretendard Medium'), url('/views/liberty/fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: block;
	src: local('Pretendard Regular'), url('/views/liberty/fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: block;
	src: local('Pretendard Light'), url('/views/liberty/fonts/woff2/Pretendard-Light.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: block;
	src: local('Pretendard ExtraLight'), url('/views/liberty/fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: block;
	src: local('Pretendard Thin'), url('/views/liberty/fonts/woff2/Pretendard-Thin.woff2') format('woff2'), url('/views/liberty/fonts/woff/Pretendard-Thin.woff') format('woff');
}